<!--
  ~ This file is part routeshare.
  ~ Copyright PROGS bvba, http://www.progs.be/
  ~ For licensing details, see LICENSE.txt in the project root.
  -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="be.progs.routeshare.server"
                            name-generator="org.geomajas.spring.GeomajasBeanNameGenerator"/>

    <bean name="security.securityInfo" class="org.geomajas.security.SecurityInfo">
        <property name="loopAllServices" value="false"/>
        <property name="securityServices">
            <list>
                <bean class="org.geomajas.security.allowall.AllowAllSecurityService"/>
            </list>
        </property>
    </bean>

    <bean name="routeshare" class="org.geomajas.configuration.client.ClientApplicationInfo">
        <property name="maps">
            <list>
                <ref bean="mapMain"/>
            </list>
        </property>
    </bean>

</beans>
